.search-box-input {
  width: 40vw;
  height: 25px;
  max-width: 600px;
  border: 0;
}

.search-box-form {
  display: flex;
}

.search-box-btn {
  width: 30px;
  background: no-repeat url("../../assets/search.png") 50% 50% #efecec;
  border: 0;
  background-size: 40px;
}
