.breadcrumb {
  list-style: none;
  width: 60vw;
  min-width: 460px;
  max-width: 780px;
  margin: 20px auto 0 auto;
  padding: 0;
}

.breadcrumb-item {
  display: inline-block;
  color: #aaaaaa;
  font-size: 14px;

  &:not(:last-child)::after {
    display: inline-block;
    content: "";
    height: 16px;
    width: 16px;
    background: url(../../assets/cd-custom-separator.svg) no-repeat center
      center;
    vertical-align: middle;
  }
}
